.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/raw/
data/interim/
data/processed/

training/artifacts/*
!training/artifacts/models/
!training/artifacts/models/hierarchical_embed_best.pt
!training/artifacts/label_maps/
!training/artifacts/label_maps/label_maps_embed.pkl
!training/artifacts/hierarchy/
!training/artifacts/hierarchy/hierarchy_embed.pkl
!training/artifacts/embedder/
!training/artifacts/embedder/embed_metadata.pkl
outputs/